Let’s look at the heart disease data set . The data lists various tests that were conducted on patients and some other details. Now we want to predict if a person has heart disease or not, given the test results and other attributes.

Attribute Information:
------------------------
-- 1. age
-- 2. sex
-- 3. chest pain type (4 values)
-- 4. resting blood pressure
-- 5. serum cholestoral in mg/dl
-- 6. fasting blood sugar > 120 mg/dl
-- 7. resting electrocardiographic results (values 0,1,2)
-- 8. maximum heart rate achieved
-- 9. exercise induced angina
-- 10. oldpeak = ST depression induced by exercise relative to rest
-- 11. the slope of the peak exercise ST segment
-- 12. number of major vessels (0-3) colored by flourosopy
-- 13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

Attributes types
-----------------
Real: 1,4,5,8,10,12
Ordered:11,
Binary: 2,6,9
Nominal:7,3,13

Variable to be predicted
------------------------
Absence (1) or presence (2) of heart disease
Heart disease = 1, means the person doesn’t have heart disease
Heart disease = 2, means the person has heart disease

For simplicity and to focus on building a decision tree only, we are skipping any EDA or feature manipulation. Also, the entire data set has been used as the training set. We are building the decision tree on the entire data set, using the default parameters of the  DecisionTreeClassifier() function.

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np 

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [2]:
# Reading the dataset

df= pd.read_csv(r'heart.csv')

In [3]:
df.head()

,age,sex,pain type,BP,cholestrol,fbs,resting ecg,max heart rate,exercise angina,ST depression,ST slope,flouroscopy coloured,thal,heart disease,Unnamed: 14
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,2,NaN
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,1,NaN
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,2,NaN
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,1,NaN
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,1,NaN

In [4]:
#Dropping the last column as it doesnt add any value

df = df.drop(['Unnamed: 14'], axis=1)
df.head()

,age,sex,pain type,BP,cholestrol,fbs,resting ecg,max heart rate,exercise angina,ST depression,ST slope,flouroscopy coloured,thal,heart disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,2
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,1
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,2
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,1
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,1

In [5]:
# Putting feature variable to X
X = df.drop('heart disease',axis=1)

# Putting response variable to y
y = df['heart disease']

In [6]:
# Importing DecisionTreeClassifier

from sklearn.tree import DecisionTreeClassifier

# Fitting the decision tree with default hyperparameters, apart from max_depth which is 5 so that we can plot and read the tree.
dt = DecisionTreeClassifier(max_depth=3)
dt.fit(X,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [7]:
# Putting features
features = list(X.columns[0:])
features

['age',
 'sex',
 'pain type',
 'BP',
 'cholestrol',
 'fbs',
 'resting ecg',
 'max heart rate',
 'exercise angina',
 'ST depression',
 'ST slope',
 'flouroscopy coloured',
 'thal']

In [10]:
# Importing required packages for visualization
from IPython.display import Image  
from sklearn.externals.six import StringIO  
from sklearn.tree import export_graphviz
import pydotplus, graphviz

In [11]:
# If you're on windows: Specifying path for dot file.
import os
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz2.38/bin/'

In [14]:
# plotting tree with max_depth=3
dot_data = StringIO()  
export_graphviz(dt, out_file=dot_data, feature_names=features, filled=True, rounded=True)

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_pdf("dt_heartdisease.pdf")

True

In [15]:
# the pdf with the tree will be written in this directory on your system
import os
os.getcwd()

'C:\\Users\\Aarav\\Desktop\\DATA SCIENCE PRACTICAL\\ML models\\Decision Trees\\Heart Disease Prediction using Decision Trees'

We will find the output PDF file in the above location

<img src="dt_heartdisease.png" />